.header {
  background: var(--white-color);
  border-bottom: 2px solid #d4dae7;
}

.headerBox {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-top: 15px;
  padding-bottom: 15px;
  position: relative;
}
