.header {
  background: #ffffff;
  border-bottom: 2px solid #d4dae7;
}

.headerBox {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 15px;
  padding-bottom: 15px;
  position: relative;
}

@media screen and (max-width: 1279.98px) {
  .nav {
    display: none;
  }
}
