/**
  |============================
  | Online consultations
  |============================
*/

.personalConsSection {
  background-image: url(/images/consultations_GREY-Mobilebg.png);
  background-size: cover;
  background-color: #e2eaf3;

  padding: 0;
}

@media screen and (min-width: 768px) {
  .personalConsSection {
    background-image: url(/images/consultations_GREY-Tabletbg.png);
  }
}

@media screen and (min-width: 1280px) {
  .personalConsSection {
    background-image: url(/images/consultations_GREY-PCbg.png);
    background-position: top;
  }
}

.container {
  padding: 36px 20px 36px 20px;
}

@media screen and (min-width: 768px) {
  .container {
    padding: 36px 88px 36px 88px;
  }
}

@media screen and (min-width: 1280px) {
  .container {
    padding: 48px 85px 48px 85px;
  }
}

.personalConsSection p,
.mainPageSection p {
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: calc(28 / 18);

  /* z-index: 1; */

  color: var(--plaska-color);

  text-align: center;
}

@media screen and (min-width: 768px) {
  .personalConsSection p,
  .mainPageSection p {
    font-size: 20px;
    line-height: calc(28 / 20);
  }
}

@media screen and (min-width: 1280px) {
  .personalConsSection p,
  .mainPageSection p {
    font-size: 24px;
    line-height: calc(32 / 24);
  }
}

/**
  |============================
  | Main page
  |============================
*/

.mainPageSection {
  background-image: url(/icons/MainElipseVector.svg),
    url(/images/main_GREY-Mobilebg.png);
  background-size: cover;
  background-color: #e2eaf3;
  background-position: top left, center;
  background-repeat: no-repeat;
  background-size: 90px 160px, 360px 212px;

  padding: 0;
}

@media screen and (min-width: 768px) {
  .mainPageSection {
    background-image: url(/icons/MainElipseVector.svg),
      url(/images/main_GREY-Tabletbg.png);
    background-position: left, top left;
    background-size: 90px 160px, 768px 156px;
  }
}

@media screen and (min-width: 1280px) {
  .mainPageSection {
    background-image: url(/icons/MainElipseVector.svg),
      url(/images/main_GREY-PCbg.png);
    background-position: left, bottom;
    background-size: 198px 160px, 1440px 160px;
  }
}

.containerX {
  padding: 36px 20px 36px 20px;
  /* position: relative; */
}

@media screen and (min-width: 768px) {
  .containerX {
    padding: 36px 96px 36px 96px;
  }
}

@media screen and (min-width: 1280px) {
  .containerX {
    padding: 48px 188px 48px 188px;
  }
}

/* .hello {
  z-index: -1;
  position: absolute;
  object-fit: cover;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
} */

/**
  |============================
  | Personal consulting re-use
  |============================
*/

.reusableSection {
  background-image: url(/icons/MobileConsult.svg);
  background-size: cover;
  background-color: var(--bg2-color);
  background-position: right;
  background-repeat: no-repeat;
}

@media screen and (min-width: 768px) {
  .reusableSection {
    background-image: url(/icons/TabletConsult.svg);
  }
}

@media screen and (min-width: 1280px) {
  .reusableSection {
    background-image: url(/icons/PCConsult.svg);
    background-position: bottom;
  }
}

.reusableSection2 {
  background-image: url(/icons/MobileTime.svg);
  background-size: cover;
  background-color: var(--bg2-color);
  background-position: left;
  background-repeat: no-repeat;
}

@media screen and (min-width: 768px) {
  .reusableSection2 {
    background-image: url(/icons/TabletTime.svg);
  }

  .reusableSection2 > div > div:first-of-type {
    gap: 32px;
  }
}

@media screen and (min-width: 1280px) {
  .reusableSection2 {
    background-image: url(/icons/PCTime.svg);
    background-position: bottom;
  }

  .reusableSection2 > div > div:first-of-type {
    gap: 104px;
  }
}

/* .reusableSection p:not(:first-of-type) {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: calc(24/16);
}

@media screen and (min-width: 768px) {
  .reusableSection p:not(:first-of-type) {
    font-size: 18px;
    line-height: calc(28/18);
  }
}

@media screen and (min-width: 1280px) {
  .reusableSection p:not(:first-of-type) {
    font-size: 20px;
    line-height: calc(28/20);
  }
} */

.universalWrapper p {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: calc(24 / 16);
}

@media screen and (min-width: 768px) {
  .universalWrapper p {
    font-size: 18px;
    line-height: calc(28 / 18);

    width: 378px;
  }

  .reusableSection2 > div > .universalWrapper > div:nth-of-type(2) p {
    width: 336px;
  }

  .universalWrapper > p:first-of-type {
    margin-bottom: 32px;
  }
}

@media screen and (min-width: 1280px) {
  .universalWrapper p {
    font-size: 20px;
    line-height: calc(28 / 20);

    width: 592px;
  }

  .reusableSection2 > div > .universalWrapper > div:nth-of-type(2) p {
    width: 448px;
  }
}

.reusableSection p > strong {
  font-weight: 600;
}

.reusableSection p:not(:last-of-type) {
  margin-bottom: 20px;
}

@media screen and (min-width: 768px) {
  .universalWrapper {
    display: flex;
    gap: 48px;
    justify-content: center;
    align-items: center;
  }
}

@media screen and (min-width: 1280px) {
  .universalWrapper {
    gap: 0;
  }
}

@media screen and (min-width: 1280px) {
  .universalWrapper > div:first-of-type {
    padding-left: 80px;
    padding-top: 40px;
  }

  .reusableSection2 > div > .universalWrapper > div:nth-of-type(1) {
    padding-left: 13px;
    padding-top: 40px;
  }

  .reusableSection2 > div > .universalWrapper > div:nth-of-type(2) {
    padding-right: 28px;
  }
}
