.wrapper {
  width: 100dvw;
  position: absolute;
  top: 80px;
  height: calc(100vh - 80px);

  left: 0;
  transform: translateX(100%);
  transition: transform 800ms ease-in-out;
  background-color: var(--bg2-color);
  background-image: url('/icons/mobMenuBg_mob.svg');
  background-repeat: no-repeat;
  background-size: cover;
}

.wrapperMenuOpen {
  composes: wrapper;
  transform: translateX(0);
}

.menu {
  padding-left: 32px;
  padding-top: 100px;
}

@media screen and (min-width: 768px) {
  .wrapper,
  .wrapperMenuOpen {
    top: 93px;
    height: calc(100vh - 93px);
  }
  .wrapper {
    background-image: url('/icons/mobMenuBg_tab.svg');
  }
}
