.wrapper {
  width: 100dvw;
  height: 91dvh;
  position: absolute;
  top: 86px;
  left: 0;
  transform: translateX(100%);
  opacity: 0;
  transition: transform 800ms ease-in-out, opacity 800ms ease-in-out;
  background-color: var(--bg2-color);

  padding-left: 32px;
  padding-top: 100px;
}

.isOpen {
  composes: wrapper;
  transform: translateX(0);
  opacity: 1;
}
