.sectionTitle {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;

  color: --text-color;
}

.centered {
  composes: sectionTitle;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .sectionTitle {
    font-size: 52px;
    line-height: 0.92;
  }
}

@media screen and (min-width: 1440px) {
  .sectionTitle {
    font-size: 64px;
    line-height: 0.88;
  }
}