.section {
  /* background: url('/images/home-hero-bg-mob-l.svg') left bottom no-repeat;
  background-size: contain; */
  background-color: var(--bg2-color);
  width: 100vw;
  height: 100%;
}

.list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 24px;
  list-style-type: none;
}

.item {
  display: flex;
  align-items: center;
  text-align: center;
  border: 1px solid #d0e2ff;
  border-radius: 0px 16px;
  background-color: #e4f0ff;
  height: 148px;
  width: 100%;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.56;
  color: var(--plaska-color);
  padding-left: 36px;
  padding-right: 36px;
}

.item:nth-child(1) {
  background: url('/images/home-cons-first.svg') bottom left no-repeat;
  background-color: #e4f0ff;
}
.item:nth-child(2) {
  background: url('/images/home-cons-second.svg') no-repeat;
  background-color: #e4f0ff;
}
.item:nth-child(3) {
  background: url('/images/home-cons-third.svg') no-repeat;
  background-size: cover;
  background-color: #e4f0ff;
}

@media screen and (min-width: 768px) {
  .list {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 32px;
  }

  .item {
    height: 164px;
    width: 336px;
    font-size: 20px;
    line-height: 1.4;
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media screen and (min-width: 1280px) {
  .list {
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 32px;
  }

  .item {
    height: 192px;
    width: 384px;
    font-size: 24px;
    line-height: 1.33;
    padding-left: 30px;
    padding-right: 30px;
  }
}
