/**
  |============================
  | Test - modal RADDIX
  |============================
*/

.closeButton {
  position: absolute;
  top: 24px;
  right: 24px;

  display: inline-flex;
  align-items: center;
  justify-content: center;

  padding: 0;
  height: 32px;
  width: 32px;

  background: transparent;
  border: none;
  transition: fill 0.3s ease;
}

.closeButton:hover {
  fill: var(--btn-hover-color);
}

/**
  |============================
  | With hands
  |============================
*/

body.noScroll {
  position: fixed;
  overflow-y: scroll;
  width: 100%;
  top: 0;
  left: 0;
}

.begone {
  opacity: 0;
}

/* .noScroll {
  overflow: hidden;
} */

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  /* background: rgba(var(--consult-modalbgRdesign), 0.5) !important; */
  background-color: var(--consult-modalbgRdesign);
  /* background-color: rgba(var(--consult-modalbgRdesign), 0.5) !important; */

  z-index: 9999;
  overflow: hidden;
  overflow-y: auto;

  opacity: 0;
  transition: opacity 0.3s ease;
}

.overlay:focus {
  outline: none;
}

.overlay.open {
  opacity: 1;
}

.overlay > div > p:first-of-type {
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: calc(28 / 18);
  color: var(--accent-text-color);

  margin-bottom: 44px;
}

.modalWrapper {
  overflow: hidden;

  width: 320px;
  box-sizing: content-box;
  padding: 24px 20px 44px 20px;

  background-image: url('/icons/firstLiMobile.svg');
  background-position: top left;
  background-repeat: no-repeat;
  background-color: var(--bg1-color);

  transform: translateY(-20px);
  transition: opacity 0.3s ease, transform 0.3s ease;
}

.modalWrapper.open {
  opacity: 1;
  transform: translateY(0);
}

.contentWrapper p:first-of-type,
.contentWrapper p:last-of-type {
  margin-bottom: 16px;
}

.contentWrapper li {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: calc(24 / 16);
}

.overlay p > strong {
  font-weight: 600;
}

.contentWrapper ul {
  list-style-type: none;
  display: flex;
  gap: 16px;
  flex-direction: column;
}

.contentWrapper li {
  position: relative;
  padding-left: 36px;
  /* min-width: 320px; */
  /* height: auto; */
}

.contentWrapper li::before {
  content: '';
  display: inline-block;
  width: 24px;
  height: 24px;
  /* margin-right: 16px; */
  position: absolute;
  left: 0;
  /* vertical-align: middle; */
  background-image: url('/icons/Check.svg');
}

/**
  |============================
  | 768
  |============================
*/

@media screen and (min-width: 768px) {
  .contentWrapper p:first-of-type,
  .contentWrapper p:last-of-type {
    margin-bottom: 20px;
  }

  .overlay > div > p:first-of-type {
    font-size: 24px;
    line-height: calc(32 / 24);
  }

  .contentWrapper p,
  .contentWrapper li {
    font-size: 20px;
    line-height: calc(28 / 20);
  }

  .modalWrapper {
    position: relative;
    top: 5vh;
    width: 592px;
    margin: 0 auto;
    padding: 40px 40px 40px 40px;
    border: 1px solid #d0e2ff;
    border-radius: 0px 16px;
  }

  .closeButton {
    top: 40px;
    right: 40px;
  }

  .contentWrapper ul {
    gap: 20px;
  }
}

/**
  |============================
  | 1280
  |============================
*/

@media screen and (min-width: 1280px) {
  .contentWrapper p,
  .contentWrapper li {
    font-size: 20px;
    line-height: calc(28 / 20);
  }

  .modalWrapper {
    width: 1216px;
    position: relative;
    top: 12vh;
  }
}
