/**
  |============================
  | Test - modal RADDIX
  |============================
*/

.DialogOverlay {
  background-image: url('/icons/firstLiMobile.svg');
  background-position: top left;
  background-repeat: no-repeat;
  /* background-size: cover; */
  background-color: var(--bg1-color);
  position: fixed;
  inset: 0;
  animation: overlayShow 150ms cubic-bezier(0.16, 1, 0.3, 1);
}

.DialogContent {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 488px;
  max-height: 680px;
  animation: contentShow 150ms cubic-bezier(0.16, 1, 0.3, 1);
}

.DialogContent:focus {
  outline: none;
}

.closeButton {
  position: absolute;
  top: 24px;
  right: 24px;

  display: inline-flex;
  align-items: center;
  justify-content: center;

  padding: 0;
  height: 32px;
  width: 32px;

  background: transparent;
  border: none;
  color: green;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  /* color: var(--accent-text-color); */
}

.closeButton:hover {
  /* color: var(--btn-hover-color); */
  color: red;
}

.iconClose {
  display: block;
  color: red;
  fill: red;
}

@keyframes overlayShow {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes contentShow {
  from {
    opacity: 0;
    transform: translate(-50%, -48%) scale(0.96);
  }

  to {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
  }
}

/**
  |============================
  | With hands
  |============================
*/

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  background-image: url('/icons/firstLiMobile.svg');
  background-position: top left;
  background-repeat: no-repeat;
  background-color: var(--bg1-color);
  /* border-radius: 0px 16px; */

  z-index: 9999;
  overflow: hidden;
  overflow-y: auto;

  opacity: 0;
  transition: opacity 0.3s ease;
}

.overlay.open {
  opacity: 1;
}

@media screen and (min-width: 768px) {
  .overlay {
    background-color: var(--consult-modalbg2);
  }
}

.overlay > div > p:first-of-type {
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: calc(28 / 18);
  color: var(--accent-text-color);

  /* width: 126px;
  height: 28px; */
  margin-bottom: 44px;
}

@media screen and (min-width: 768px) {
  .overlay > div > p:first-of-type {
    font-size: 24px;
    line-height: calc(32 / 24);
  }
}

.modalWrapper {
  width: 320px;
  /* max-height: 100%; */
  box-sizing: content-box;
  padding: 24px 20px 44px 20px;

  transform: translateY(-20px);
  transition: opacity 0.3s ease, transform 0.3s ease;
}

.modalWrapper.open {
  opacity: 1;
  transform: translateY(0);
}

@media screen and (min-width: 768px) {
  .modalWrapper {
    width: auto;
    padding: 40px 40px 40px 40px;
  }
}

.contentWrapper p:first-of-type,
.contentWrapper p:last-of-type {
  margin-bottom: 16px;
}

@media screen and (min-width: 768px) {
  .contentWrapper p:first-of-type,
  .contentWrapper p:last-of-type {
    margin-bottom: 20px;
  }
}

.contentWrapper li {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: calc(24 / 16);
}

.overlay p > strong {
  font-weight: 600;
}

@media screen and (min-width: 768px) {
  .contentWrapper p,
  .contentWrapper li {
    font-size: 20px;
    line-height: calc(28 / 20);
  }
}

@media screen and (min-width: 1280px) {
  .contentWrapper p,
  .contentWrapper li {
    font-size: 20px;
    line-height: calc(28 / 20);
  }
}

.contentWrapper ul {
  list-style-type: none;
  display: flex;
  gap: 16px;
  flex-direction: column;
}

@media screen and (min-width: 768px) {
  .contentWrapper ul {
    gap: 20px;
  }
}

.contentWrapper li {
  position: relative;
  padding-left: 36px;
  /* min-width: 320px; */
  /* height: auto; */
}

.contentWrapper li::before {
  content: '';
  display: inline-block;
  width: 24px;
  height: 24px;
  /* margin-right: 16px; */
  position: absolute;
  left: 0;
  /* vertical-align: middle; */
  background-image: url('/icons/Check.svg');
}
