.textMargin {
  margin-bottom: 24px;
}
.goal {
  margin-top: 32px;
  font-size: 18px;
  line-height: calc(28 / 18);
}
.goal strong {
  font-weight: 600;
}
.timePeriod {
  display: block;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: calc(28 / 18);

  color: var(--accent-text-color);
}

.programTitle {
  margin-bottom: 20px;
  font-weight: 600;
  font-size: 18px;
  line-height: calc(28 / 18);
}

.programList {
  margin-bottom: 40px;
}

.programList > ul {
  list-style-type: none;
}

.programList > ul > li {
  padding-left: 40px;
  background-image: url(/images/icons/Check.svg);
  background-position: 0 0;
  background-repeat: no-repeat;
}

.programList > ul > li:not(:last-child) {
  margin-bottom: 20px;
}
.imageWrapper {
  composes: textMargin;

  position: unset;
}
.image {
  object-fit: contain;
  width: 100% !important;
  position: relative !important;
  height: unset !important;
}

@media screen and (min-width: 768px) {
  .heroProgramList {
    width: 369px;
  }
  .formatText {
    font-size: 20px;
    line-height: calc(28 / 20);
  }
  .goal {
    margin-top: 40px;

    font-size: 24px;
    line-height: calc(32 / 24);
  }
  .timePeriod {
    width: 328px;
    font-size: 24px;
    line-height: calc(32 / 24);
  }
}
