@media screen and (min-width: 768px) {
  .educationWithLoveSection > div > h2 {
    width: 485px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }
}
@media screen and (min-width: 1280px) {
  .image {
    margin-bottom: 36px;
  }
  .educationWithLoveSection > div > h2 {
    width: 656px;
  }
}
