.section h2 {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 32px;
}
.upperWrap {
  display: flex;
  flex-direction: column;

  margin-bottom: 24px;
}

.timing {
  margin-bottom: 24px;

  font-weight: 700;
  font-size: 18px;
  line-height: calc(28 / 18);

  color: var(--accent-text-color);
}

.programm {
  margin-bottom: 20px;

  font-weight: 600;
  font-size: 18px;
  line-height: calc(28 / 18);
}

.textWrap {
  display: flex;
  flex-direction: column;

  font-size: 16px;
  line-height: calc(24 / 16);
}

.textWrap ol {
  padding: 0;
  list-style: none;
  counter-reset: my-awesome-counter;
}

.textWrap li {
  display: flex;
  counter-increment: my-awesome-counter;
}

.textWrap li:first-child {
  margin-bottom: 20px;
}

.textWrap li::before {
  display: block;
  width: 20px;

  margin-right: 28px;

  content: counter(my-awesome-counter) '. ';

  font-family: var(--font-alegreya);
  font-weight: 500;
  font-size: 32px;
  line-height: calc(36 / 32);

  color: var(--accent-text-color);
}

.lowerWrap ol {
  margin-bottom: 40px;
  counter-set: my-awesome-counter 2;
}

.lowerWrap .textWrap {
  margin-bottom: 24px;
}

@media screen and (max-width: 767px) {
  .section h2 {
    text-align: center;
  }
}

@media screen and (min-width: 768px) {
  .section h2 {
    margin-bottom: 40px;
  }

  .timing {
    font-size: 24px;
    line-height: calc(32 / 24);
  }

  .programm {
    font-size: 20px;
    line-height: calc(28 / 20);
  }

  .imgWrap {
    display: flex;

    margin-bottom: 36px;
    width: 620px;
  }

  .image {
    align-self: baseline;
  }

  .textWrap {
    display: flex;
    flex-direction: column;

    font-size: 18px;
    line-height: calc(28 / 18);
  }

  .lowerWrap .imgWrap {
    max-width: 420px;
  }
  .lowerWrap .textWrap {
    margin-bottom: 36px;
  }
}

@media screen and (min-width: 1280px) {
  .section h2 {
    width: 808px;
    margin-bottom: 60px;
  }

  .upperWrap {
    flex-direction: row-reverse;
    align-items: flex-end;
    gap: 32px;

    margin-bottom: 36px;
  }

  .imgWrap {
    margin-bottom: 0;
    width: 592px;
  }

  .timing {
    margin-bottom: 36px;
  }
  .programm {
    font-size: 24px;
    line-height: calc(32 / 24);
  }
  .textWrap {
    margin-bottom: 0;

    width: 592px;

    font-size: 20px;
    line-height: calc(28 / 20);
  }
  .textWrap li::before {
    font-size: 40px;
    line-height: calc(40 / 40);
  }
  .lowerWrap {
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-start;
    gap: 104px;
  }

  .lowerWrap .textWrap {
    margin-bottom: 0px;
  }
}
