.section :global .sectionTitleH2 {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 32px;
}
.upperWrap {
  display: flex;
  flex-direction: column;

  margin-bottom: 24px;
}

.imgWrap {
  display: flex;

  margin: 0 auto 24px;

  width: auto;
  height: auto;
}

.image {
  object-fit: contain;
  position: relative !important;

  width: 100% !important;
  height: unset !important;
  align-self: baseline;
}

.timing {
  margin-bottom: 24px;

  font-weight: 700;
  font-size: 18px;
  line-height: calc(28 / 18);

  color: var(--accent-text-color);
}

.programm {
  margin-bottom: 20px;

  font-weight: 600;
}

.textWrap {
  display: flex;
  flex-direction: column;
}

.textWrap ol {
  padding: 0;
  list-style: none;
  counter-reset: my-awesome-counter;
}

.textWrap li {
  display: flex;
  counter-increment: my-awesome-counter;
}

.textWrap li:first-child {
  margin-bottom: 20px;
}

.textWrap li::before {
  display: block;

  width: 31px;

  content: counter(my-awesome-counter) '. ';
  font-family: var(--font-alegreya);
  font-size: 32px;
  font-weight: 600;
  line-height: calc(36 / 32);
  color: var(--accent-text-color);
  /* text-align: center; */
  margin-right: 28px;
}

.lowerWrap ol {
  margin-bottom: 40px;
  counter-set: my-awesome-counter 2;
}

.lowerWrap .textWrap {
  margin-bottom: 24px;
}

@media screen and (max-width: 767px) {
  .imgWrap {
    max-width: 440px;
  }

  .lowerWrap .imgWrap {
    max-width: 440px;
  }
}

@media screen and (min-width: 768px) {
  .section :global .sectionTitleH2 {
    margin-bottom: 40px;
  }

  .timing {
    font-size: 24px;
    line-height: calc(32 / 24);
  }

  .imgWrap {
    display: flex;

    margin-bottom: 36px;
    width: 620px;
  }

  .image {
    align-self: baseline;
  }

  .textWrap {
    display: flex;
    flex-direction: column;
  }

  .textWrap li::marker {
    font-size: large;
  }

  .lowerWrap .imgWrap {
    max-width: 420px;
  }
}

@media screen and (min-width: 1280px) {
  .section :global .sectionTitleH2 {
    width: 808px;
    margin-bottom: 60px;
  }

  .upperWrap {
    flex-direction: row-reverse;
    align-items: flex-end;
    gap: 32px;

    margin-bottom: 36px;
  }

  .imgWrap {
    margin-bottom: 0;
    width: 592px;
  }

  .timing {
    margin-bottom: 36px;
  }

  .textWrap {
    margin-bottom: 0;

    width: 592px;
  }

  .lowerWrap {
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-start;
    gap: 104px;

    .textWrap {
      margin-bottom: 0;
    }

    .imgWrap {
      max-width: 520px;
    }
  }
}
