.mdContent {
  margin-bottom: 24px;
}

.flexBox {
  display: block;
}

.mdContent > p {
  margin-bottom: 24px;
  font-size: 18px;
  font-weight: 600;
  line-height: 1.56;
}

.mdContent ul {
  padding-left: 40px;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  list-style-type: none;
}

.mdContent li {
  position: relative;
  margin-bottom: 24px;
}

.mdContent li > strong {
  font-weight: 600;
}

.mdContent li::before {
  position: absolute;
  left: -40px;
  width: 24px;
  height: 24px;
  background-image: url('/icons/check-mark.svg');
  content: '';
}

.imgWrapper {
  width: 100%;
  margin: 0 auto;
  margin-top: 24px;
}

@media screen and (min-width: 768px) {
  .mdContent > p {
    font-size: 20px;
    line-height: 1.4;
  }

  .mdContent ul {
    font-size: 18px;
    line-height: 1.56;
  }

  .mdContent li:nth-child(2) {
    width: 593px;
  }

  .mdContent li:nth-child(3) {
    width: 459px;
  }

  .imgWrapper {
    width: 504px;
    height: 389px;
  }

  .imgWrapper img {
    height: 389px !important;
  }
}

@media screen and (min-width: 1280px) {
  .flexBox {
    display: flex;
    gap: 20px;
  }

  .mdContent {
    position: relative;
    width: 592px;
    margin-right: 32px;
    padding-top: 68px;
  }

  .mdContent > p {
    position: absolute;
    width: 821px;
    left: 0;
    top: 0;
    margin-bottom: 36px;
    font-size: 24px;
    line-height: 1.33;
  }

  .mdContent ul {
    width: 592px;
    font-size: 20px;
    line-height: 1.4;
  }

  .mdContent li:nth-child(2) {
    width: 502px;
  }

  .mdContent li:nth-child(3) {
    width: 510px;
  }

  .imgWrapper {
    position: relative;
    top: 78px;
    right: 70px;
    width: 642px;
    height: 511px;
    flex-shrink: 0;
    margin-top: 0;
  }

  .imgWrapper img {
    height: 511px !important;
  }
}
