@font-face {
    font-family: 'Alegreya Medium', serif;
    src: local('Alegreya'), url('../fonts/Alegreya/Alegreya-Medium.ttf');
    font-weight: 500;
}
@font-face {
    font-family: 'Alegreya ExtraBold', serif;
    src: local('Alegreya'), url('../fonts/Alegreya/Alegreya-ExtraBold.ttf');
    font-weight: 800;
}
@font-face {
    font-family: 'Open Sans Light', sans-serif;
    src: local('Open Sans'), url('../fonts/Open_Sans/OpenSans-Light.ttf');
    font-weight: 300;
}
@font-face {
    font-family: 'Open Sans Regular', sans-serif;
    src: local('Open Sans'), url('../fonts/Open_Sans/OpenSans-Regular.ttf');
    font-weight: 400;
}
@font-face {
    font-family: 'Open Sans SemiBold', sans-serif;
    src: local('Open Sans'), url('../fonts/Open_Sans/OpenSans-SemiBold.ttf');
    font-weight: 600;
}
@font-face {
    font-family: 'Open Sans Bold', sans-serif;
    src: local('Open Sans'), url('../fonts/Open_Sans/OpenSans-Bold.ttf');
    font-weight: 700;
}