:root {
  --white-color: #ffffff;
  --bg1-color: #fdfdfd;
  --bg2-color: #f9f9f9;
  --input-border-color: #d8dfef;
  --plaska-color: #174172;
  --accent-color: #2670c4;
  --accent-text-color: #2361a8;
  --footer-color: #a3a9b2;
  --main-text-color: #111111;
  --error-color: #ca381f;
  --main-whatido-plashka: #d9d9d9;
  --btn-hover-color: #2f8bf6;
  --btn-disabled-color: #a3a9b2;
  --fast-btn-animation: background-color 300ms ease;
}

* {
  box-sizing: border-box;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  font-family: var(--font-open-sans);
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.4;
  color: var(--main-text-color);
}

body {
  margin: 0;
}

.layout {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.main {
  flex-grow: 1;
}

footer {
  margin-top: auto;
}

h1,
h2,
h3,
h4,
h5,
p {
  padding: 0;
  margin: 0;
}

ul,
ol {
  padding: 0;
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

button {
  cursor: pointer;
}

.container {
  width: 100%;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
}

.sectionTitleH1 {
  font-family: var(--font-alegreya);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;

  color: var(--main-color);
}

.sectionTitleH2 {
  font-family: var(--font-alegreya);
  font-weight: 700;
  font-size: 32px;
  line-height: 1.25;

  color: var(--main-color);
}

.centered {
  text-align: center;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
    padding-left: 32px;
    padding-right: 32px;
  }

  .sectionTitleH1 {
    font-size: 52px;
    line-height: 0.92;
  }

  .sectionTitleH2 {
    font-size: 48px;
    line-height: 1;
  }
}

@media screen and (min-width: 1280px) {
  .container {
    width: 1280px;
  }

  .sectionTitleH1 {
    font-size: 64px;
    line-height: 0.88;
  }

  .sectionTitleH2 {
    font-size: 60px;
    line-height: 0.8;
  }
}
