:root {
  --white-color: #FFFFFF;
  --bg1-color: #FDFDFD;
  --bg2-color: #F9F9F9;
  --input-color: #D8DFEF;
  --plaska-color: #174172;
  --button-color: #2670C4;
  --main-color: #2361A8;
  --footer-color: #A3A9B2;
  --text-color: #111111;
  --error-color: #CA381F;
}