.imageWrapper {
  width: auto;
  /* width: 308px; */
}

.imageWrapper {
  margin-top: 24px;
}

.section h2 {
  width: 268px;
}

@media screen and (min-width: 320px) and (max-width: 480px) {
  .imageWrapper img {
    width: 100%;
  }
}

.mdContent {
  margin-bottom: 40px;
}

.mdContent ul {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 20px;
  counter-reset: my-counter;

  /* margin-bottom: 40px; */
}

/* .mdContent li {
  display: flex;
  align-items: center;
} */

.mdContent li {
  position: relative;
  padding-left: 48px;
}

.mdContent li:before {
  counter-increment: my-counter;
  content: counter(my-counter);

  /* display: flex;
  align-items: center;
  justify-content: center; */

  position: absolute;
  left: 0;
  top: 0;
  /* transform: translateY(-50%);
  transform-origin: center center; */
  text-align: center;

  /* width: 32px;
  height: 32px; */
  /* padding: 4px 11px 4px 11px; */
  padding: 4px 12px 4px 13px;

  background: #f2f8ff;
  border: 1px solid #d0e2ff;
  border-radius: 0px 16px;
  /* margin-right: 5px; */
}

.mdContent li > strong {
  font-weight: 600;
}

.mdContent li {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: calc(24 / 16);
}

/**
  |============================
  | 768
  |============================
*/

@media screen and (min-width: 768px) {
  .mdContent li {
    font-size: 18px;
    line-height: calc(28 / 18);
  }

  .imageWrapper {
    margin-top: 40px;
  }

  .imageWrapper {
    width: 688px;
  }

  .imageWrapper img {
    width: 100%;
    height: 100%;
  }

  .section h2 {
    width: auto;
  }

  .mdContent li {
    padding-left: 56px;
  }
}

/**
  |============================
  | 1280
  |============================
*/

@media screen and (min-width: 1280px) {
  .flexBox {
    display: flex;
    align-items: center;
    gap: 32px;
  }

  .mdContent {
    width: 676px;
  }

  .mdContent li {
    font-size: 20px;
    line-height: calc(28 / 20);
  }

  .imageWrapper {
    margin-top: 0;
  }

  .imageWrapper {
    width: 472px;
    height: 870px;
  }

  .section {
    background-image: url('/icons/consultations-personalcons-vector_bg.svg');
    background-repeat: no-repeat;
    background-position: bottom left;
    /* background-size: 204px 594px; */
  }

  .section h2 {
    width: 824px;
    margin-left: auto;
    margin-right: auto;
  }

  .mdContent li {
    padding-left: 60px;
  }
}
