.timeManagementSection {
  background-color: #fdfdfd;
}

@media screen and (min-width: 1280px) {
  .image {
    margin-bottom: 36px;
  }
  .timeManagementSection > div > h2 {
    width: 920px;
    margin-left: auto;
    margin-right: auto;
  }
}
