.section {
  background: url('/images/home-hero-bg-mob-l.svg') left bottom no-repeat,
    url('/images/home-hero-bg-mob-r.svg') right top no-repeat;
  background-size: contain, 35%;
  background-color: var(--bg2-color);
  width: 100vw;
  height: 100%;
}

.section > div {
  position: relative;
}

.wrapper {
  display: flex;
  width: 100%;
}

.image {
  display: none;
}

.descr {
  width: 100%;
  padding-left: 0;
  padding-right: 0;
}

.intro {
  font-size: 20px;
  line-height: 1.4;
  color: var(--main-text-color);
}

.first,
.second {
  font-size: 16px;
  line-height: 1.5;
  color: var(--main-text-color);
  margin-top: 24px;
}

@media screen and (min-width: 768px) {
  .section {
    background: url('/images/home-hero-bg-tab-l.svg') left bottom no-repeat,
      url('/images/home-hero-bg-tab-r.svg') right top no-repeat;
    background-size: 45%, 27%;
    background-color: var(--bg2-color);
    width: 100vw;
    height: 100%;
  }
  .image {
    display: block;
    width: 427px;
    height: 742px;
    position: absolute;
    top: 0;
    left: -102px;
  }
  .descr {
    width: 375px;
    margin-left: 329px;
    padding-top: 52px;
    padding-bottom: 15px;
  }
  .intro {
    font-size: 24px;
    line-height: 1.33;
  }

  .first,
  .second {
    font-size: 18px;
    line-height: 1.56;
  }
}

@media screen and (min-width: 1280px) {
  .section {
    background: url('/images/home-hero-bg-l.svg') left bottom no-repeat,
      url('/images/home-hero-bg-r.svg') right top no-repeat;
    background-size: 40%, 28%;
    background-color: var(--bg2-color);
    width: 100vw;
    height: 100%;
  }

  .image {
    width: 458px;
    height: 745px;
    position: absolute;
    top: -30px;
    left: 0;
  }
  .descr {
    width: 696px;
    margin-left: 485px;
    padding-top: 112px;
    padding-bottom: 62px;
  }
  .intro {
    font-size: 32px;
    line-height: 1.13;
  }

  .first,
  .second {
    font-size: 20px;
    line-height: 1.4;
    margin-top: 28px;
  }
}
