.section {
  background: url('/images/home-hero-bg-mob-l.svg') left bottom no-repeat,
    url('/images/home-hero-bg-mob-r.svg') right top no-repeat;
  background-size: contain, auto;
  background-color: var(--bg2-color);
  width: 100vw;
  height: 100%;
}

.section > div {
  position: relative;
}

.wrapper {
  display: flex;
  width: 100%;
  /* padding-top: 16px; */
  /* background: url('/icons/homeHeroBg_desk.svg') no-repeat; */
}

.image {
  display: none;
}

.image {
  /* width: 458px;
  height: 745px; */
  /* position: absolute; */
  /* object-fit: contain; */
  /* object-fit: contain; */
}

.descr {
  width: 100%;
  /* padding-top: 150px; */
  padding-left: 0;
  padding-right: 0;
}

.intro {
  font-size: 20px;
  line-height: 1.4;
  color: var(--main-text-color);
}

.first,
.second {
  font-size: 16px;
  line-height: 1.5;
  color: var(--main-text-color);
  margin-top: 24px;
}

@media screen and (min-width: 768px) {
  .section {
    background: url('/images/home-hero-bg-l.svg') left bottom no-repeat,
      url('/images/home-hero-bg-r.svg') right top no-repeat;
    background-size: contain, auto;
    background-color: var(--bg2-color);
    width: 100vw;
    height: 100%;
    padding-top: 63px;
    padding-bottom: 0;
    overflow: hidden;
  }
  .wrapper {
    /* padding-top: 63px; */
  }

  .image {
    display: block;
    width: 427px;
    height: 742px;
    transform: translateX(-102px);
  }
  .descr {
    /* width: 70%; */
    padding-top: 63px;
    padding-left: 36px;
    padding-right: 0;
    transform: translateX(-102px);
  }
  .intro {
    font-size: 24px;
    line-height: 1.33;
  }

  .first,
  .second {
    font-size: 18px;
    line-height: 1.56;
  }
}

@media screen and (min-width: 1280px) {
  .section {
    background: url('/images/home-hero-bg-l.svg') left bottom no-repeat,
      url('/images/home-hero-bg-r.svg') right top no-repeat;
    background-size: contain, auto;
    background-color: var(--bg2-color);
    width: 100vw;
    height: 100%;
  }

  .image {
    width: 458px;
    height: 745px;
    transform: translateX(-40px);
  }
  .descr {
    /* width: 100%; */
    padding-top: 150px;
    padding-left: 62px;
    padding-right: 40px;
  }
  .intro {
    font-size: 32px;
    line-height: 1.13;
  }

  .first,
  .second {
    font-size: 20px;
    line-height: 1.4;
    margin-top: 28px;
  }
}
