.cardWrapper {
  width: 320px;
  height: auto;

  background: #fdfdfd;
  border: 1px solid #d0e2ff;
  border-radius: 0px 16px;

  padding: 24px 20px 24px 20px;
}

.cardWrapper > p:first-of-type {
  width: 280px;
  height: 56px;
  margin-bottom: 16px;
}

.cardWrapper p {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: calc(24 / 16);
}

.cardWrapper > p:first-of-type {
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: calc(28 / 18);

  color: var(--accent-text-color);
}

.cardWrapper > button > p:last-of-type {
  font-family: var(--font-open-sans);
  position: relative;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: calc(24 / 16);

  color: var(--accent-text-color);
}

.cardWrapper > button > p:last-of-type::after {
  position: absolute;
  content: '';

  width: 24px;
  height: 24px;
  top: 0;
  margin-left: 8px;

  background-image: url('/icons/chevronRight.svg');
  background-repeat: no-repeat;
}

.cardWrapper > button {
  border: none;
  padding: 0;
  background: none;
}

.cardWrapper:last-of-type {
  margin-bottom: 24px;
}

/**
  |============================
  | backgrounds
  |============================
*/

.cardWrapper:nth-child(1) {
  background-position: top;
  background-image: url('/icons/firstMobile.svg');
  background-repeat: no-repeat;
}

.cardWrapper:nth-child(2) {
  background-position: bottom;
  background-image: url(/icons/secondLiMobile.svg);
  background-repeat: no-repeat;
}

.cardWrapper:nth-child(3) {
  background-position: top right;
  background-image: url(/icons/thirdLiMobile.svg);
  background-repeat: no-repeat;
}

.cardWrapper:nth-child(4) {
  background-position: bottom;
  background-image: url(/icons/fourthLiMobile.svg);
  background-repeat: no-repeat;
}

.cardWrapper:nth-child(5) {
  background-position: top;
  background-image: url(/icons/fifthLiMobile.svg);
  background-repeat: no-repeat;
}

@media screen and (min-width: 768px) {
  .cardWrapper:nth-child(1) {
    background-image: url(/icons/firstLiTablet.svg);
  }

  .cardWrapper:nth-child(2) {
    background-image: url(/icons/secondLiTablet.svg);
  }

  .cardWrapper:nth-child(3) {
    background-image: url(/icons/thirdLiTablet.svg);
  }

  .cardWrapper:nth-child(4) {
    background-image: url(/icons/fourthLiTablet.svg);
  }

  .cardWrapper:nth-child(5) {
    background-position: top left;
    background-image: url(/icons/fifthLiTablet.svg);
  }
}

/**
  |============================
  | 
  |============================
*/

.cardBox {
  display: flex;
  flex-direction: column;
  gap: 24px;

  list-style-type: none;
}

.contentWrapper {
  margin-bottom: 16px;

  width: 284px;
  height: auto;

  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 8;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
}

.image {
  display: block;
  height: auto;
}

@media screen and (min-width: 320px) and (max-width: 480px) {
  .image {
    width: 100%;
  }
}

/**
  |============================
  | 768px
  |============================
*/

@media screen and (min-width: 768px) {
  .cardWrapper {
    width: 592px;
    margin: 0 auto;

    padding: 40px;
  }

  .image {
    width: 592px;
    height: 396px;
    margin: 0 auto;
  }

  .contentWrapper {
    -webkit-line-clamp: 7;
    width: 512px;
  }

  .cardBox {
    gap: 32px;
  }

  .cardWrapper:last-of-type {
    margin-bottom: 32px;
  }

  .cardWrapper > p:first-of-type {
    font-size: 24px;
    line-height: calc(32 / 24);
  }

  .cardWrapper p {
    font-size: 18px;
    line-height: calc(28 / 18);
  }

  .cardWrapper > p:first-of-type {
    width: 354px;
    height: 64px;
  }
}

/**
  |============================
  | 1280px
  |============================
*/

@media screen and (min-width: 1280px) {
  .cardBox > li:nth-child(6) {
    width: 592px;
    height: auto;
  }

  .image {
    width: 100%;
    height: 100%;
  }

  .cardBox {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .cardWrapper:last-of-type {
    margin-bottom: 0;
  }

  .cardWrapper p {
    font-size: 20px;
    line-height: calc(28 / 20);
  }
}
