.newsSection {
    background: var(--bg2-color) url('/icons/news-bg-image-mobile.svg') no-repeat;
    background-position: top right;
}

.newsList {
    list-style-type: none;
}

.newsItem {
    display: block;
    margin-top: 60px;
    margin-bottom: 60px;
}

.imageStyle {
    display: inline-block;
    /* margin-top: 24px; */
    border-radius: 12px;
    width: 100%;
    height: auto;
}

@media screen and (min-width: 768px) {
    .newsSection {
        background: var(--bg2-color) url('/icons/news-bg-image-tablet.svg') no-repeat;
        background-position: top right;
    }

    .newsItem {
        margin-top: 80px;
        margin-bottom: 60px;
    }
    .imageStyle {
        border-radius: 16px;
    }
}

@media screen and (min-width: 1280px) {
    .newsSection {
        background: var(--white-color) url('/icons/news-bg-image-desktop.svg') no-repeat;
        background-position: top right;
    }

    .newsItem {
        margin-top: 100px;
        margin-bottom: 100px;
    }
    .imageStyle {
        border-radius: 20px;
    }
}