.list {
  display: flex;
  gap: 20px;
  list-style-type: none;
  /* color: #2361ab; */
}

.item {
  /* background-color: #fbfbfb; */
}

.imgIcon {
  width: 36px;
  height: 36px;
  border-radius: 10px;
  /* stroke: #2361ab; */
  stroke: currentColor;
  /* stroke: #ff0000; */
  /* background-color: #fbfbfb; */
}

.imgIcon:hover {
  fill: #2361ab;
  /* stroke: #ff0000; */
  /* background-color: #2361ab; */
}
