.wrapper p {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: calc(24 / 16);
}

.wrapper p > strong {
  font-weight: 600;
}

.image1 {
  margin-bottom: 24px;
}

.wrapper p:not(:nth-child(4n)) {
  margin-bottom: 20px;
}

.wrapper:nth-of-type(1) p:nth-child(2n),
.wrapper:nth-of-type(2) p:nth-child(2n) {
  margin-bottom: 0;
}

.wrapper p:nth-child(4n),
.wrapper:nth-of-type(2) p:nth-child(3) {
  margin-bottom: 24px;
}

@media screen and (min-width: 768px) {
  .wrapper p {
    font-size: 18px;
    line-height: calc(28 / 18);
  }

  .image1 {
    margin-bottom: 0;
  }

  .wrapper {
    display: flex;
    margin-bottom: 36px;
    gap: 32px;
  }

  .wrapper:last-of-type {
    margin-bottom: 0;
  }

  .wrapper:nth-of-type(2) {
    flex-direction: row-reverse;
  }

  .image1 {
    margin-bottom: 0;
    width: 336px;
    height: 602px;
  }

  .image2 {
    width: 336px;
  }

  .wrapper:nth-of-type(2) p:nth-child(3) {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 1280px) {
  .wrapper p {
    font-size: 20px;
    line-height: calc(28 / 20);
  }

  .wrapper:nth-of-type(1) {
    gap: 136px;
  }

  .wrapper:nth-of-type(2) {
    gap: 96px;
  }

  .wrapper {
    margin-bottom: 60px;
  }

  .textWrapper {
    width: 592px;
  }

  .image1 {
    width: 440px;
    height: auto;
    margin-bottom: 0;
  }

  .image2 {
    width: 506px;
    height: auto;
  }

  .section > div > h2 {
    text-align: center;
  }
}

@media screen and (min-width: 320px) and (max-width: 767.98px) {
  .image {
    width: 100%;
  }
}
