.view {
  height: 100vh;
  padding-top: 28vh;
  padding-bottom: 37vh;

  background-image: url(/images/404page/firstViewBackgroundTopRight.svg),
    url(/images/404page/firstViewBackgroundBottomRight.svg),
    url(/images/404page/firstViewBackgroundBottomLeft.svg);
  background-repeat: no-repeat;
  background-position: top right, bottom right, bottom left;
  background-size: 167px 172px, 122px 69px, 215px 165px;
}
.contentWrapper {
  width: fit-content;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.image {
  margin-bottom: 28px;
}
.title {
  margin-bottom: 40px;

  font-family: var(--font-alegreya);
  font-weight: 500;
  font-size: 20px;
  line-height: calc(28 / 20);

  color: var(--accent-text-color);
}
@media screen and (min-width: 768px) {
  .view {
    background-image: url(/images/404page/firstViewBackgroundTopRight.svg),
      url(/images/404page/firstViewBackgroundBottomRightTablet.svg),
      url(/images/404page/firstViewBackgroundBottomLeft.svg);
    background-size: 280px 280px, 414px 104px, 317px 164px;
  }
  .image {
    width: 462px;
    height: 222px;
    margin-bottom: 80px;
  }
  .title {
    font-size: 40px;
    line-height: 1;
  }
}
@media screen and (min-width: 1280px) {
  .view {
    padding-top: 15vh;
    padding-bottom: 15vh;

    background-image: url(/images/404page/firstViewBackgroundTopRightDesktop.svg),
      url(/images/404page/firstViewBackgroundBottomRightDesktop.svg),
      url(/images/404page/firstViewBackgroundBottomLeft.svg);
    background-size: 31vw 36vh, 69.7vw 26.2vh, 31.8vw 44vh;
  }
  .image {
    width: 648px;
    height: 312px;
    margin-bottom: 48px;
  }
}
