.actionButton {
  width: 320px;
  height: 60px;
  border-radius: 8px;
  padding: 16px 44px;

  color: var(--white-color);
  background-color: var(--accent-color);
  border-color: transparent;

  font-family: var(--font-open-sans);
  font-weight: 600;
  font-size: 16px;
  line-height: calc(24 / 16);

  transition: background-color 300ms ease;

  @media screen and (min-width: 766.98px) {
    width: 280px;

    font-size: 18px;
    line-height: calc(28 / 18);
  }

  @media screen and (min-width: 1279.98px) {
    font-size: 20px;
    line-height: calc(28 / 20);
  }
}

.actionButton:hover,
.actionButton:focus {
  background-color: var(--btn-accent-color);
}

.actionButton:disabled {
  background-color: var(--btn-disabled-color);
}

.actionButtonModal {
  composes: actionButton;

  width: 280px;

  @media screen and (min-width: 766.98px) {
    width: 360px;
  }
}

.actionButton404 {
  composes: actionButton;

  @media screen and (min-width: 766.98px) {
    width: 360px;
  }
}
