.burger {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

@media screen and (min-width: 1279px) {
  .burger {
    display: none;
  }
}
