.cardWrapper {
  padding-bottom: 32px;
}

.newsTitle {
  margin-top: 24px;

  font-weight: 600;
  font-size: 18px;
  line-height: 1.56;

  color: var(--accent-text-color);

  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  white-space: pre-wrap;
}

.imageStyle {
  display: inline-block;
  width: 100%;
  height: 396px;

  border-radius: 0 12px;
  object-fit: cover;
}

.readMoreLink {
  display: flex;
  width: max-content;
  gap: 8px;

  font-family: var(--font-open-sans);
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;

  color: var(--accent-text-color);
}

.readMoreLink::after {
  content: '';

  display: inline-block;
  width: 24px;
  height: 24px;

  background: url('/icons/slide-next-btn.svg');
  background-size: 24px;
}

@media screen and (min-width: 768px) {
  .cardWrapper {
    max-width: 592px;
    padding-bottom: 0;
  }
  .newsTitle {
    font-size: 24px;
    line-height: 1.33;
  }
  .imageStyle {
    width: 592px;

    border-radius: 0 16px;
  }
  .readMoreLink {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 1280px) {
  .imageStyle {
    border-radius: 0 20px;
  }
}
