.backToTopButton {
  /* position: absolute;
  width: 44px;
  height: 44px;
  bottom: 30px;
  background: rgb(233, 237, 242);
  border: 0.5px solid rgb(35, 97, 168);
  right: 32px;
  display: block; */

  position: fixed;
  bottom: 35px;
  right: 32px;
  z-index: 10;

  border-radius: 50%;
  background: var(--back-to-top-button-bg);
  border: 0.5px solid var(--accent-text-color);

  opacity: 0;

  transition: transform 0.3s ease, background 0.3s ease, border-color 0.3s ease,
    opacity 0.3s ease;
}

.backToTopButton.visible {
  opacity: 1;
  /* transition: opacity 0.3s ease; */
}

.svg {
  width: 44px;
  height: 44px;
}

.backToTopButton:hover {
  transform: scale(1.2);
}

.backToTopButton:not(:hover) {
  transition: transform 0.3s ease, background 0.3s ease, border-color 0.3s ease,
    opacity 0.3s ease;
  transform: scale(1);
}
