.slidePrevBtn {
  width: 36px;
  height: 36px;
  border: none;
  background: url('/icons/slide-prev-btn.svg');
}

.slideNextBtn {
  width: 36px;
  height: 36px;
  border: none;
  background: url('/icons/slide-next-btn.svg');
}

.desktop {
  width: 29px;
  height: 29px;
  border: none;
  border-radius: 50%;
  background-color: #D9D9D9;
  /* background-size: 30px; */
  background-position: center;
}